@media screen and (min-width: 992px) {
    #lien1:hover,#lien2:hover
    {
        height: 53px;
        display: flex;
        align-items: flex-end;
        border-top: solid 2px blue;
        color: blue;
        font-size: 15px;
        font-weight: bold
    }

    #loupe
    {
        visibility: hidden;
    }

    
    /*------ Header ------- */


    .header
    {   
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .logoB
    {
        width: 70%
    }
    .nav
    {
        display: flex;
        flex-direction: row;
        margin-right: 12px;
        margin-bottom: 20px;
    }

    .lien
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 3px;
        align-items: flex-end;
        text-decoration: none;
        margin: 3px;
        margin-left: 15px;
    }

    


}

*{
    font-family: 'Raleway', sans-serif;
}

a{
    color: black;
    text-decoration: none;
}

body{
    margin: 0;
    background-color: white;
}
.structure
{
    width: 992px;
    margin: auto
}


#f1:hover,#f2:hover,#f3:hover,#f4:hover,#f5:hover
{
    box-shadow: 5px 5px 5px #0065FC;
}



/* ----- SEARCHBOX ----- */

.searchBox /* BOX */
{
    font-size: 20px;
}

.box /* SerachBox_Bar */
{ 
    display: flex;
    flex-direction: row;
    border-color: #F2F2F2;
    border-radius: 15px;
    width: auto;
    height: 40px;
}

.searchBar
{
    border: solid #F2F2F2;
    width:auto;
    height: 83%;
    border-right: hidden;
    font-size: 17px;
    outline: none;
    padding-left: 10px;
}

.searchButton
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0065FC;
    color: white;
    border-radius: 15px;
    width: auto;
    height: 99%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: hidden;
    font-size: 16px;
}


#mapmarker
{    
    color: black;
    font-size: 17px;  
}

#icone
{
    display: flex;
    align-items: center;
    justify-content: center;
    border: hidden;
    background-color: #F2F2F2;
    width: 35px;
    border-radius: 10px; 
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px
}

/* ---- FILTRES ---- */

.filtres_container
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}

.filtres_container2
{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

.filtre
{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: solid;
    border-radius: 30px;
    height: 35px;
    border-color: #F2F2F2;
    margin-right: 20px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}

a,article
{
    text-decoration: none;
}

.logo
{   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: hidden;
    border-radius: 30px;
    width: 50px;
    height: 40px;
    background: #DEEBFF;
    color: #0065FC;
    margin-right: 3px
}

.logo a
{
    padding: 0 11px
}

.titre
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}


.InfoBox
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px ;
}

#icoI
{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid;
    color: #0065FC ;
    border-radius: 30px;
    border-color: #F2F2F2;
    font-size: 10px;
    height:20px;
    width: 20px;
    margin-right: 10px;
}

/* ---- 3eme partie ----  */

.flexcontainer
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
}

.container2
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 15px;
    background-color: #F2F2F2;
    width: 65%;
    height: 540px;
}

#titre2
{
    margin-left: 15px;
    margin-bottom: 30px;
}

.bloc
{
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
    
.container
{      
    display: flex;
    flex-direction: column;
    margin: auto;
    border-radius: 15px;
    height: 40%;
    width: 30%;
    background-color: white;
    margin-bottom: 30px;
    margin-right: 10px;
}

.viewMore
{
    color: black;
    margin-left: 18px;
    margin-top: 0px;
}

.block6img
{
    border-radius: 15px;
    height: 60%;
    width: 100%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}

.images
{
    height: 100%;
    width: 97%;
    border-radius: 15px;
    margin-top: 3px;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    margin: 2px;
    margin-bottom: 3px;
}

.titreH
{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 15px;
    margin-left: 10px;
}

.stars
{
    display: flex;
    color: #0065FC;
    width: 94%;
    height:15px ;
    font-size: 10px;
    margin-top: 10px; 
}

/* 2eme bloc */

.container3
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: auto;
    border-radius: 15px;
    background-color: #F2F2F2;
    margin-right: 10px;
}

#titreLogo
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%
}    

.b
{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    width: 95%;
    height: 120px;
    border-radius: 15px;
    background-color: white
}

.block3img
{
    width: auto;
    height: 95%;
    border-radius: 15px;
    margin: 4px;
    margin-left: 3px
}

.image
{
    width: 200px;
    height: 100%;
    max-width: 100%;
    border-radius: 15px;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    object-fit: cover;
}


.titreP
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.t1
{
    font-size: 17px;
    margin-top: -10px;
    margin-bottom: 1px;
}
.t2
{
    margin-top: -17px;
}

.etoiles
{
    height: 50%;
    width: 95%;
    color: #0065FC;
    font-size: 10px;
    margin-top: 3px;
}

/* ----- 4eme partie ----- */

.blocAct /* fenetre_activité */
{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    height: 350px;
    width: 98%;
    font-size: 15px;
    margin-bottom: 20px;
}

.act /*  fenetre premier et 4eme block */
{
    height: 100%;
    width: 230px;
}

.B1 /* 1er et 4eme block */

{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border-color: #F2F2F2;
    height: 100%;
    width: 100%;
    box-shadow: 1px 1px 1px 1px #F2F2F2;
}

.act2 /* div fenetre (2-3) et (5-6) */
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 20%;
}

.block1 /*  fenetre block 2 et 6 */
{
    border-radius: 15px;
    border-color: #F2F2F2;
    height: 178px;
    width: 100%
}

.block2 /* fenetre block 3 et 5 */
{
    border-radius: 15px;
    border-color: #F2F2F2;
    width: 100%;
    height: 130px;
}

.B2 /* block 2 et 6 */
{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 180px;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 1px #F2F2F2;
}

.B3 /* block 3 et 5 */
{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 130px;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 1px #F2F2F2;
}

#ACT
{
    flex-direction: column-reverse
}

.image1
{
    border-radius: 15px;
    max-width: 100%;
    height: 100%;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px; 
}

#img2
{
    border-radius: 15px;
    max-width: 100%;
    height: 43%;
    width: 200px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#img3,#img5
{
    border-radius: 15px;
    max-width: 100%;
    height: 55%;
    width: 100%;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px; 
}

.image2
{
    border-radius: 15px;
    max-width: 100%;
    height: 76%;
    width: auto;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px; 
}

.image6
{
    border-radius: 15px;
    max-width: 100%;
    height: 76%;
    width: auto;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px; 
}

.image3
{
    border-radius: 15px;
    max-width: 100%;
    height: 70%;
    width: 100%;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px; 
}

.titreVP
{
    margin: 10px
}

.titre_activité
{
    margin: auto
}


/* Footer */

footer
{
    height: 180px;
    width: 110%;
    background-color: #F2F2F2;
    margin: 15px;
    margin-left: -50px;
}

.footerBox
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

ul,li
{
    list-style  : none;
    padding:0;
    margin:0;
    color: black;
}

.link2
{
    text-decoration: none;
    margin: 0;
    padding: 0;
}

a
{
    display:block;
    width: auto;
}

footer+ul,li
{
    margin: 3px;
}


/*----- Tablette -----*/

@media screen and (max-width: 992px){
    body{
        background-color: white;
    }

    .structure{
        width: auto;
        margin: 0;
    }

     /*  ------  HEADER  -----*/
    .header
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .logoB
    {
        width: 200px;

    }
 
    .nav
    {
    width: 100%;
    display: flex;
    height: 50px;
    flex-direction: row;
    margin-top: 30px;

    }

    .lien
    {
    display: flex;
    width: 100%;
    height: 100%;
    font-size: 22px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 2px;
    }

    #lien1,#lien2{
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: solid 3px #F2F2F2;

    }

    #lien1:hover,#lien2:hover
    {
        border-bottom: solid 3px #0065FC;
        color: #0065FC;
    }

     /* ----- SEARCHBOX ----- */


    .searchBox{
        margin: 25px;
    }
    
    .box{
        height: 42px;
    }

    .searchBar{
        height: 86%;
        border-right:hidden;
        padding-right: 50px;
        margin-right: -20px;
    }
    

    .searchButton
    {
        border-radius: 10px;
        width: 50px;
        height: 42px;
        padding-left: 10px;
        font-size: 0px;
        margin-left: -2px;
    }
    
    #loupe
    {
        margin-right: 5px;
        font-size: 16px;
    } 

    #icone{
        height: 103%;
    }
   
    /*----- Filtres -----*/

    .filtres_container{
        margin: 25px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .filtres_container2
    {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
    }

    .filtre
    {
        display: flex;
        align-items: center;
        border: solid #F2F2F2;
        border-radius: 30px;
        width: 100%;
        height: 33px;
        margin: 10px;
        border-left: hidden;
    }

    .InfoBox{
        margin: 25px;
    }


    /* ---- 3eme partie ----  */

    .flexcontainer{
        height: auto;
        flex-direction: column-reverse;
    }

    .container2
    {   
        display: inherit;
        background-color: white;
        flex-direction: column;
        width: 100%;
        border-radius: 0px;
        height: auto;
    
    }

    #titre2
    {
        height: auto;
        font-size: 22px;
        margin-left: 30px;
        margin-bottom: 30px;
    }

    .bloc
    {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
        
    .container
    {   
        width: 90%;
        height: auto; 
        border: solid #F2F2F2;
        display: flex;
        flex-direction: column;
        margin: auto;
        border-radius: 15px;
        background-color: white;
        margin-bottom: 30px;   
    }

    .viewMore
    {
        width: 16%;
        color: black;
        margin-left: 40px;
    }

    .block6img
    {

        border-radius: 15px;
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 0%;
    }

    .images
    {
        object-fit: cover;
        display: block;
        height: auto ;
        max-height: 300px;
        width: 100%;
        border-radius: 15px;
        margin-top: 3px;
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 0%;
        margin: 2px;
        margin-bottom: 3px;
    }  

    .titreH
    {
        margin: auto;
        display: flex;
        flex-direction: column;
        width: 100%;
        font-size: 20px;
        margin-left: 10px;
    }

    .stars
    {
        display: flex;
        color: #0065FC;
        width: 94%;
        height:15px;
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 10px; 
    }

    /* 2eme bloc */

    .container3{
        width: 100%;
        margin: 0;
        height: auto;
        border-radius: 0px;

    }

    #titreLogo{
        width: 87%;
        font-size: 22px;
    }

    .b
    {
        height: 230px;
        max-height: auto;
        width: 90%;
        margin-bottom: 30px;
        background-color: white;
    }

    .image{

        width: 100%;
        max-width: 100%;
    }

    .block3img{
        width: 55%;
        max-width: 33%;
        object-fit: cover;

    }
    


    .titreP
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin-left: 10px;
        margin-top: -5px;
    }

    /*.titre2{
    }*/

    .t1
    {
        width: 90%;
        font-size: 25px;

        height: 50%;
    }
    .t2
    {
        margin-top: -45px;
        font-size: 25px;

    }

    .etoiles
    {
        position: absolute;
        height: 5%;
        width: auto;
        color: #0065FC;
        font-size: 15px;
        margin-top: 190px;
        
    }

    /* ----- 4eme partie ----- */

    .blocAct /* fenetre_activité */
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 100%;
        font-size: 15px;
        margin-bottom: 20px;
    }

    #acitivité{
        margin-left: 30px;
        font-size: 22px;
    }

    .act /*  fenetre premier et 4eme block */
    {
        margin-bottom: 10px;
        height: auto;
        width: 90%;
    }

    .B1 /* 1er et 4eme block */

    {
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        border-color: #F2F2F2;
        height: auto;
        width: 100%;
        box-shadow: 1px 1px 1px 1px #F2F2F2;
    }

    .act2 /* div fenetre (2-3) et (5-6) */
    {
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
        width: 90%;
    }

    .block1 /*  fenetre block 2 et 6 */
    {
        margin-bottom: 15px;
        border-radius: 15px;
        border-color: #F2F2F2;
        height: 250px;
        width: 100%
    }

    .block2 /* fenetre block 3 et 5 */
    {
        margin-bottom: 15px;
        border-radius: 15px;
        border-color: #F2F2F2;
        width: 100%;
        height: 250px;
    }

    .B2 /* block 2 et 6 */
    {
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        border-radius: 15px;
        box-shadow: 1px 1px 1px 1px #F2F2F2;
    }

    .B3 /* block 3 et 5 */
    {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 250px;
        border-radius: 15px;
        box-shadow: 1px 1px 1px 1px #F2F2F2;
    }

    #ACT
    {
        flex-direction: column-reverse
    }

    .image1
    {
        border-radius: 15px;
        max-width: 100%;
        width: auto;
        height: 200px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px; 
        object-fit: cover;
    }

    #img2
    {
        border-radius: 15px;
        max-width: 100%;
        height: auto;
        width: auto;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    #img3,#img5
    {
        border-radius: 15px;
        max-width: 100%;
        height: 200px;
        width: 100%;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px; 
    }

    .image2
    {
        border-radius: 15px;
        max-width: 100%;
        height: 200px;
        width: auto;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        object-fit: cover; 
    }

    .image6
    {
        border-radius: 15px;
        max-width: 100%;
        height: 200px;
        width: 100%;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px; 
        object-fit: cover;
    }

    .image3
    {
        border-radius: 15px;
        max-width: 100%;
        height: 200px;
        width: 100%;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        object-fit: cover; 
    }

    .titreVP
    {
        margin: 10px
    }

    .titre_activité
    {
        margin: auto
    }

    /* Footer */

    footer
    {
        width: 100%;
        background-color: #F2F2F2;
        display: flex;
        flex-direction: row;
        margin: 0;
    }

    .footerBox
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .footer{
        width:auto;
        margin: auto;
    }


}


/*----- Mobile -----*/

@media screen and (max-width: 768px){
    body{
        background-color: white;
        margin:0;
        width: auto;
        height: auto;
        margin: auto;
    }

    .structure{
        width: auto;
        margin: 0;
    }

    header{
        display: flex;
        flex-direction: column;
    }

    .logoB
    {
        margin-left: 70px;
        width: 180px;
    }

    .flexcontainer{
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }

    .blocAct /* fenetre activité a marseille */
    {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        align-items: center;
        font-size: 20px;
    }



    .b{
        width: 90%;
    }

    .block3img{
        min-width: 35%;
        max-width: 35%;
    }
    .image{
        width: 100%;
    }
    
    .t2{
        margin-top: -30px;
    }


    .images
    {
        object-fit: cover;
        display: block;
        height: auto ;
        max-height: 180px;
        width: 100%;
        border-radius: 15px;
        margin-top: 3px;
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 0%;
        margin: 2px;
        margin-bottom: 3px;
    }  


        /* Footer */

    footer
    {
        width: auto;
        height: auto;
        background-color: #F2F2F2;
        justify-content: center;
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .footerBox
    {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        width: auto;
    }

    .footer{
        width:100%;
        margin-left: 25px;
    }
}
