@media screen and (min-width: 992px) {
    #lien1:hover,#lien2:hover
    {
        height: 53px;
        display: flex;
        align-items: flex-end;
        border-top: solid 2px blue;
        color: blue;
        font-size: 15px;
        font-weight: bold
    }

    #loupe
    {
        visibility: hidden;
    }

    
    /*------ Header ------- */


    .header
    {   
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .logoB
    {
        width: 70%
    }
    .nav
    {
        display: flex;
        flex-direction: row;
        margin-right: 12px;
        margin-bottom: 20px;
    }

    .lien
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 3px;
        align-items: flex-end;
        text-decoration: none;
        margin: 3px;
        margin-left: 15px;
    }
}



*{
    font-family: 'Raleway', sans-serif;
}

a{
    color: black;
    text-decoration: none;
}

body{
    margin: 0;
    background-color: white;
}

.structure{
    width: 992px;
    margin: auto
}


#f1:hover,#f2:hover,#f3:hover,#f4:hover,#f5:hover{
    box-shadow: 5px 5px 5px #0065FC;
}

/* ----- SEARCHBOX ----- */

.searchBox /* BOX */{
    font-size: 20px;
}

.box /* SerachBox_Bar */{ 
    display: flex;
    border-color: #F2F2F2;
    border-radius: 15px;
    height: 45px;
}

.searchBar{
    border: solid #F2F2F2;
    width:auto;
    height: 86%;
    border-right: hidden;
    font-size: 17px;
    padding-left: 10px;
    outline: none;
    font-weight: bold;
    
}

.searchButton{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0065FC;
    color: white;
    border-radius: 15px;
    width: auto;
    height: 100%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: hidden;
    font-size: 15px;
    font-weight: bold;
    margin-left: -2px ;
}


#mapmarker{    
    color: black;
    font-size: 17px;  
}

#icone{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
    width: 35px;
    border-radius: 15px; 
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px
}

/* ---- FILTRES ---- */

.filtres_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}

.filtres_container2{
    width: 80%;
    display: flex;
    justify-content:space-around;
}

.filtre{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: solid #F2F2F2;
    border-radius: 30px;
    border-left: hidden;
    height: 35px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}

a,article{
    text-decoration: none;
}

.logo{   
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 50px;
    height: 40px;
    background: #DEEBFF;
    color: #0065FC;
}

.titre{
    display: flex;
    justify-content: center;
    width: 100%;
}


.InfoBox{
    display: flex;
    align-items: center;
    margin-bottom: 10px ;
}

#icoI{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid #F2F2F2;
    color: #0065FC ;
    border-radius: 30px;
    font-size: 10px;
    height:20px;
    width: 20px;
}

/* ---- 3eme partie ----  */

.flexcontainer{
    display: flex;
    justify-content: space-between;
    height: auto;
}

.container2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 15px;
    background-color: #F2F2F2;
    width: 66%;
    height: 540px;
}

#titre2{
    margin-left: 15px;
}

.bloc{
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
    
.container{      
    display: flex;
    flex-direction: column;
    margin: auto;
    border-radius: 15px;
    height: 40%;
    width: 30%;
    background-color: white;
    margin-bottom: 30px;
    margin-right: 10px;
}

.viewMore{
    color: black;
    margin-left: 18px;
    margin-top: -20px;
}

.block6img{
    border-radius: 15px;
    height: 60%;
    width: 100%;

}

.images{
    height: 100%;
    width: 97%;
    border-radius: 15px;
    margin-top: 3px;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    margin: 2px;
    margin-bottom: 3px;
    object-fit: cover;
}

.titreH{
    margin: auto;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    margin-left: 10px;
}

.stars{
    display: flex;
    color: #0065FC;
    width: 94%;
    height:15px ;
    font-size: 11px;
    margin-top: 10px; 
}

/*----- 2eme bloc -----*/

.container3{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: auto;
    border-radius: 15px;
    background-color: #F2F2F2;
    margin-right: 10px;
}

#titreLogo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%
}    

.b{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    width: 90%;
    height: 120px;
    border-radius: 15px;
    background-color: white
}

.block3img{
    width: auto;
    height: 95%;
    border-radius: 15px;
    margin: 4px;
    margin-left: 3px
}

.image{
    width: 200px;
    height: 100%;
    max-width: 100%;
    border-radius: 15px;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    object-fit: cover;
}


.titreP{
    display: flex;
    flex-direction: column;
    width: 120%;
    height: 100%;
    font-size: 16px;
    margin: 4px;
}

.t1{
    margin-top: -10px;
    margin-bottom: 1px;
}

.t2
{
    margin-top: -17px;
}

.etoiles{
    position: absolute;
    height: auto;
    width: auto;
    color: #0065FC;
    font-size: 10px;
    margin-top: 98px;
}

/* ----- 4eme partie ----- */

.blocAct /* fenetre_activité */{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    height: 350px;
    width: 98%;
    font-size: 15px;
    margin-bottom: 20px;
    margin: 5px;
}

.act /*  fenetre premier et 4eme block */{
    height: 100%;
    width: 230px;
}

.B1 /* 1er et 4eme block */{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border-color: #F2F2F2;
    height: 100%;
    width: 100%;
    box-shadow: 1px 1px 1px 1px #F2F2F2;
}

#ACT{
    flex-direction: column-reverse
}

.act2 /* div fenetre (2-3) et (5-6) */{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 20%;
}

.B2 /* block 2 et 6 */{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 180px;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 1px #F2F2F2;
}

.B3 /* block 3 et 5 */{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 140px;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 1px #F2F2F2;
}


.image1{
    border-radius: 15px;
    max-width: 100%;
    height: 100%;
    width: auto;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px; 
    object-fit: cover;
}

.image2,.image3,.image6{
    border-radius: 15px;
    max-width: 100%;
    height: 76%;
    width: auto;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px; 
    object-fit: cover;
}

.titreVP{
    margin: 10px
}

.titre_activité{
    margin: auto
}


/* Footer */

footer{
    height: auto;
    width: 100%;
    background-color: #F2F2F2;
    margin: 15px;
}

.footerBox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    height: 100%;
}

ul,li{
    list-style  : none;
    padding:0;
    margin:0;
    color: black;
}

.link2{
    text-decoration: none;
    margin: 0;
    padding: 0;
}

a{
    display:block;
    width: auto;
}

footer+ul,li{
    margin: 3px;
}


/*----- Tablette -----*/

@media screen and (max-width: 992px){


    .structure{
        width: auto;
    }

    /*  ------  HEADER  -----*/

    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logoB{
        margin-left: 80px;
    }
    
    .nav{
    width: 100%;
    display: flex;
    height: 50px;
    flex-direction: row;
    margin-top: 20px;
    }

    .lien{
    display: flex;
    width: 100%;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    }

    #lien1,#lien2{
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: solid 3px #F2F2F2;

    }

    #lien1:hover,#lien2:hover
    {
        border-bottom: solid 3px #0065FC;
        color: #0065FC;
    }

     /* ----- SEARCHBOX ----- */

    .searchBar_box{
        width: 60%;
        border-radius: 30px;
    }

    .searchBox{
        margin: 25px;
        border-radius: 30px;
    }

    .searchBar{
        width: 90%;
        height: 89%;
        padding-right: 50px;
        font-weight: bold;
        margin-left: -2px;
    }
    

    .searchButton{
        border-radius: 10px;
        width: 50px;
        height: 46px;
        font-size: 0px;
        margin-left: -5px;
    }
    
    #loupe{
        font-size: 16px;
    } 

    #icone{
        height: 104%;
        width: 50px;
    }

   
   
    /*----- Filtres -----*/

    .filtres_container{
        flex-direction: column;
        align-items: flex-start;
    }

    .filtres_container2{
        flex-wrap: wrap;
        justify-content:space-between;
    }

    .filtre{
        margin: 5px;
        border-left: hidden;
    }

    .InfoBox{
        width: 80%;
        margin: 15px;
    }



    /* ---- 3eme partie ----  */

    .flexcontainer{
        height: auto;
        flex-direction: column-reverse;
    }

    .container2{   
        background-color: white;
        flex-direction: column;
        width: 100%;
        border-radius: 0px;
        height: auto;
    
    }

    #titre2{
        height: auto;
        font-size: 22px;
        margin-left: 30px;
        margin-bottom: 30px;
    }

    .bloc{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
        
    .container{   
        width: 90%;
        height: auto; 
        border: solid #F2F2F2;
        flex-direction: column;
        margin: auto;
        border-radius: 15px;
        margin-bottom: 30px;
        box-shadow: 4px 4px 5px 3px #F2F2F2;   
    }

    .images{
        width: 99%;
        object-fit: cover;
        height: auto ;
        max-height: 350px;
    }  

    .titreH{
        margin: auto;
        display: flex;
        flex-direction: column;
        width: 98%;
        font-size: 20px;
        margin-left: 10px;
    }

    .stars{
        color: #0065FC;
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 13px; 
    }

    .viewMore{
        margin-left: 40px;
    }

    .viewMore h5{
        width: 10%;
        margin-top: 0px;
    }


    /*----- 2eme bloc -----*/

    .container3{
        width: 100%;
        height: auto;
        border-radius: 0px;
    }

    #titreLogo{
        width: 90%;
        font-size: 22px;
    }

    .b{
        height: 230px;
        width: 90%;
        margin-bottom: 30px;
        background-color: white;
    }

    .block3img{
        width: auto;
        max-width: 55%;
    }

    .titreP{
        margin-left: 10px;
        margin-top: -5px;
    }

    .t1{
        width: 90%;
        font-size: 22px;
        height: 50%;
    }

    .t2{
        margin-top: -35px;
        font-size: 25px;

    }

    .etoiles{
        position: absolute;
        height: auto;
        width: auto;
        color: #0065FC;
        font-size: 15px;
        margin-top: 200px;    
    }

    .image{
        width: 400px;
    }



    /* ----- 4eme partie ----- */

    .blocAct /* fenetre_activité */{
        flex-direction: column;
        align-items: center;
        height: auto;
        margin-bottom: 20px;
    }

    #acitivité{
        margin-left: 30px;
        font-size: 20px;
    }

    .act /*  fenetre premier et 4eme block */{
        margin-bottom: 20px;
        width: 90%;
        
    }

    .B1 /* 1er et 4eme block */{
        border-radius: 15px;
        border-color: #F2F2F2;
        box-shadow: 4px 4px 5px 3px #F2F2F2;
    }

    .act2 /* div fenetre (2-3) et (5-6) */{
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 90%;
    }

    .block1 /*  fenetre block 2 et 6 */{
        margin-bottom: 15px;
        border-radius: 15px;
        border-color: #F2F2F2;
        height: 250px;
        width: 100%;
    }

    .block2 /* fenetre block 3 et 5 */{
        margin-bottom: 15px;
        border-radius: 15px;
        border-color: #F2F2F2;
        width: 100%;
        height: 250px;
    }

    .B2 /* block 2 et 6 */,.B3 /* block 3 et 5 */{
        margin-bottom: 15px;
        width: 100%;
        height: auto;
        border-radius: 15px;
        box-shadow: 4px 4px 5px 3px #F2F2F2;
    }


    #ACT{
        flex-direction: column-reverse
    }

    .image1,.image2,.image3,.image6{
        max-width: 100%;
        width: auto;
        height: 200px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px; 
        object-fit: cover;
    }

    /* Footer */

    footer{
        width: 100%;
        margin: auto;
    }
}


/*----- Mobile -----*/

@media screen and (max-width: 768px){
   

    .logoB{
        margin-left: 70px;
        width: 180px;
    }

    .filtre{
        margin-right: 30px;
    }
    
    .t2{
        margin-top: -35px;
        font-size: 21px;
    }

    .images{
        max-height: 180px;
        width: 99%;
        border-radius: 15px;
        margin-top: 3px;
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 0%;
    }

        /* Footer */

    footer{
        height: auto;
        margin: auto;
    }

    .footerBox{
        flex-direction: column;
    }

    .footer{
        margin-left: 25px;
    }
}
